<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
    </style>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>
<div id="map"></div>
<script>
    var map;
    function initMap() {
        var polylines = [];
        var markers = [];
        <% if(data.length > 0){%>
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:<%=data[0].latitude%>, lng:<%=data[0].longitude%>},
            zoom: 17
        });
            <%for(var i = 0 ; i < data.length ; i++){%>
                polylines.push({lat:<%=data[i].latitude%>, lng:<%=data[i].longitude%>});
                markers.push(new google.maps.Marker({
                    position : {lat:<%=data[i].latitude%>, lng:<%=data[i].longitude%>},
                    map: map,
                    title: new Date(<%=data[i].dateAndTime%>).toDateString()
                }));
            <%}%>

            var pl = new google.maps.Polyline({
                path: polylines,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            pl.setMap(map);
        <%}else{%>
            alert("No Data");
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        <%}%>

        var socket = io('http://192.168.0.62:3000');
        socket.on('data', function (data) {
            pl.setMap(null);
            polylines = [];
            pl = null;
            clearMarkers();

            for(var i = 0 ; i < data.length ; i++){
                polylines.push({lat:data[i].latitude, lng:data[i].longitude});
                markers.push(new google.maps.Marker({
                    position : {lat:data[i].latitude, lng:data[i].longitude},
                    map: map,
                    title: new Date(data[i].dateAndTime).toDateString()
                }));
            }
            pl = new google.maps.Polyline({
                path: polylines,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            pl.setMap(map)
            console.log(data);
        });

        function clearMarkers() {
            setMapOnAll(null);
            markers = [];
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</body>
</html>